body{
    font-family: 'Inter', sans-serif;
    background-color: rgb(17, 17, 17);

}

svg{
    fill: white;
}

a{
    display: none !important;
}

.eapps-widget-toolbar{
    display: none !important;
}